@import '~vuetify/dist/vuetify.min.css';
@import '~@mdi/font/css/materialdesignicons.min.css';

html, body {
    color: #fff;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
}

body .v-application, body #welcome {
    background: rgb(114,213,196) !important;
    background: -moz-linear-gradient(15deg, rgba(114,213,196,1) 0%, rgba(7,151,223,1) 62%) !important;
    background: -webkit-linear-gradient(15deg, rgba(114,213,196,1) 0%, rgba(7,151,223,1) 62%) !important;
    background: linear-gradient(15deg, rgb(114,213,196) 0%, rgba(7,151,223,1) 62%) !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#72d5c4",endColorstr="#0797df",GradientType=1);
}

.v-alert {
    margin: 0 !important;
}
